[submodule "lib/hw357"]
	path = lib/hw357
	url = https://github.com/besi/kicad-hw357
[submodule "lib/magnetic-charger"]
	path = lib/magnetic-charger
	url = https://github.com/besi/kicad-magnetic-charger
[submodule "lib/bme280"]
	path = lib/bme280
	url = https://github.com/besi/kicad-bme280
[submodule "lib/radio-receiver"]
	path = lib/radio-receiver
	url = https://github.com/besi/kicad-radio-receiver
[submodule "lib/lolin32"]
	path = lib/lolin32
	url = https://github.com/besi/kicad-lolin32
[submodule "lib/as12ap"]
	path = lib/as12ap
	url = https://github.com/besi/kicad-as12ap
