[submodule "lib/c3-pico"]
	path = lib/c3-pico
	url = https://github.com/besi/kicad-c3-pico
[submodule "lib/hw357"]
	path = lib/hw357
	url = https://github.com/besi/kicad-hw357
[submodule "lib/magnetic-charger"]
	path = lib/magnetic-charger
	url = https://github.com/besi/kicad-magnetic-charger
[submodule "lib/esp32-wemos-d1-mini"]
	path = lib/esp32-wemos-d1-mini
	url = https://github.com/besi/kicad-esp32-wemos-d1-mini
[submodule "lib/bme280"]
	path = lib/bme280
	url = https://github.com/besi/kicad-bme280
[submodule "lib/radio-receiver"]
	path = lib/radio-receiver
	url = https://github.com/besi/kicad-radio-receiver
[submodule "lib/lolin32"]
	path = lib/lolin32
	url = https://github.com/besi/kicad-lolin32
